<div class="clima-container">

  <div class="card">
    @if (dadosClima()){
      <app-img-titulo>Clima Agora</app-img-titulo>

      <app-nome-cidade>
        {{dadosClima()?.name}}
      </app-nome-cidade>

      <app-temp-cidade>
        {{dadosClima()?.main?.temp | number: '1.0-0'}}°C
      </app-temp-cidade>

      <app-img-titulo [clima]="dadosClima()!.weather[0]">
     
      </app-img-titulo>
        <div class="minmax">
          <span class="min">{{ dadosClima()?.main?.temp_min | number: '1.0-0' }}°C</span>
          <span class="max">{{ dadosClima()?.main?.temp_max | number: '1.0-0' }}°C</span>
        </div>

      <button (click)="navegarParaTelaDePesquisa()">Pesquisar</button>
    } @else {
      <app-loading-cidade mensagem ="Carregandotemperatura"> </app-loading-cidade>

   
    }
  </div>
</div>